@import "~bootstrap-icons/font/bootstrap-icons.css";


html{
    height: 100vh;
}

main{
    margin-top: 75px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Search bar */
#searchBarContainer {
    display: block;
    position: absolute;
    top: 15px;
    z-index: 1;
    /*Inicialmente fuera de pantalla */
    left: -100%;
    /*Transición */
    transition: left 0.3s ease-in-out;
}

#searchBarContainer input {
    border-radius: 20px;
    border-bottom: 1px solid #a364f7;
    box-shadow: 0 0 50px rgb(184, 107, 255);
    background-color: #e41414;
    color: #fff;
}

#searchBarContainer button {
    border-radius: 20px;
    border-bottom: 1px solid #a364f7;
    box-shadow: 0 0 50px rgb(184, 107, 255);
    background-color: #e41414;
    color: #fff;
}

#search {
    color: #fff;
    text-decoration: none;
}

#searchBarContainer.active {
    left: 180px;
    /*Cambia posición cuando se activa */
}

#searchBarContainer.active button {
    left: 180px;
    /*Cambia posición cuando se activa */
}

#searchBarContainer.active input {
    border-radius: 20px;
    border-bottom: 1px solid #a364f7;
    box-shadow: 0 0 20px rgb(184, 107, 255);
    background-color: #333;
    color: #fff;
}

#searchBarContainer.active button {
    border-radius: 20px;
    border-bottom: 1px solid #a364f7;
    box-shadow: 0 0 20px rgb(184, 107, 255);
    background-color: #333;
    color: #fff;
}

/* Clock */
.clock-container {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #000; /* Color del texto blanco */
    background-color: #a8caec; /* Color de fondo azul más claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.clock {
    display: inline-block;
    background-color: #b3cfeb; /* Fondo de color azul oscuro */

}