$themes: (
    'light': (
        'background': #fff,
        'text-color': #000,
        'button-bg': #8281d8,
        'button-text': #fff),
    'dark': (
        'background': #000,
        'text-color': #fff,
        'button-bg': rgb(34, 100, 158),
        'button-text': #000)
);

@mixin apply-theme($theme-name) {
    $theme-map: map-get($themes, $theme-name);

    body {
        background-color: map-get($theme-map, 'background');
        color: map-get($theme-map, 'text-color');
    }

    .btn {
        background-color: map-get($theme-map, 'button-bg');
        color: map-get($theme-map, 'button-text');
    }
}

@include apply-theme('light');

.dark-mode {
    @include apply-theme('dark');
}

.light-mode {
    @include apply-theme('light');
}